body {
	height:100%;
	width:100%;
}

#inputdiv {
	margin-top:3%;
	margin-left:1% !important;
}

#submit {
	margin-top:3%;
	width:100%;
}

#sender {
 width:98%;
 height:30%;
 background-color: cyan;
}

#receiver {
	height:30%;
	width:98%;
	background-color: orange;
}